ul{
  text-decoration: none;
  display: inline;
  list-style: none;
  font-size: 0.5em;
  width: 100%;
}

li{
  display: inline;
  margin: auto;
}

nav{
  width: 60%;
  margin: 0 auto;
}

.right{
  float: right;
}

.left{
  float: left;
}

.search{
  all: revert;
  width: 50%;
  height: 50px;
  border-radius: 100px;
  border: solid 5px lightgray;
  margin: auto;
  padding-right: 25px;
  text-align: right;
}

.nav-tabs{
  border: none;
}

.tab-pane a{
  margin: 0 25px;
}

a.attention{
  color: #D95242;
}
