html{
  height: 100%;
}

body {
  padding: 15px;
  font-size: 2em;
  font-family: 'Abel';
  text-align: center;
  color: #212529;
  height: 90%;
}

a {
  color: #212529;
  transition: all 0.5s ease;
}

a:hover {
  color: #CED4DA;
  text-decoration: none;
  transition: all 0.5s ease;
}

.welcome {
    height: 95%;
    width: 90%;
    margin: auto;
    max-width: 100%;
    border: #122025 20px solid;
    box-shadow: whitesmoke 0px 0px 15px 5px;
}

.welcomeHeader {
  font-size: 5em;
  margin:200px auto 75px;
}

.btn.primary{
  border: 5px solid #122025;
  border-radius: 500px;
  width: 300px;
  font-size: 0.6em;
  font-weight:bold;
}

.dropdown-menu{
  border: none;
  width: 100%;
  position: relative;
}

.dropdown-item{
  width: fit-content;
  display:inline;
}
