html{
  height: 100%;
}

body {
  padding: 50px;
  font-size: 2em;
  font-family: 'Abel';
  text-align: center;
  color: #212529;
  height: 90%;
}

a {
  color: #00B7FF;
}

.welcome {
    height: 95%;
    width: 90%;
    margin: 3.5% auto;
    max-width: 100%;
    border: #122025 20px solid;
    box-shadow: whitesmoke 0px 0px 15px 5px;
}

.welcomeHeader {
  font-size: 3em;
  margin:275px auto 150px;
}

.btn.primary{
  border: 5px solid #122025;
  border-radius: 500px;
  width: 300px;
  font-size: 0.6em;
  font-weight:bold;
}
