<link rel="stylesheet" href="stylesheets\navigationStylesheet.css" />
<nav>
  <form action = '/admin' method="post" enctype="multipart/form-data">
    <ul>
      <li><a> Women </a></li>
      <li><a> Men </a></li>

      <input type="text" name="" class = "search" placeholder = "Search for brand and clothing!" value="">

      <li><a class="far fa-heart"></a></li>
      <li><a class="far fa-user-circle"></a></li>
      <li></li>
      <li><a> Basket </a></li>
    </ul>
  </form>
</nav>
